
<span tabindex="0"
      class="Icon {{currentClass}} {{utilClass}}"
      [class.hidden]="hidden"
      style="display:inline-flex"
      title="Actions"
      (click)="invoke()"
      (keyup.enter)="invoke()">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="22"
         height="22"
         viewBox="0 0 24 24"
         fill="none">
        <rect width="24"
              height="24"
              fill="white"
              fill-opacity="0.01" />
        <polygon #path
              points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"
              fill="#53ace3" />
    </svg>
</span>